.detail {
  width: 1280px;
  margin: auto;
  padding: 100px 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.detail-inner {
  box-sizing: border-box;
}

/* loading */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.detail-loading-wrapper {
  margin: 200px 0;
  text-align: center;
  color: var(--primary2-color);
}

.spinner-icon {
  display: inline-block;
  animation: spin infinite 0.05s linear;
}

/* detail */
.detail-info {
  display: flex;
}

.detail-info-left {
  width: 100%;
  aspect-ratio: 1;
  display: inline-block;
  margin-right: 20px;
  box-shadow: 0 0 5px #d9d9d9;
  color: var(--primary2-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.detail-info-left > img {
  aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
}

.detail-info-right {
  display: flex;
  width: 100%;
  min-height: 630px;
  flex-direction: column;
}

.detail-product-info > h1 {
  margin-bottom: 10px;
}

.info-date {
  color: var(--primary2-color);
}

.detail-info-user {
  margin-top: auto;
  width: 100%;
}

.detail-info-user > .top {
  display: flex;
  align-items: center;
}

.user-image-wrapper {
  width: 70px;
  height: 70px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  margin-right: 10px;
  overflow: hidden;
}

.user-image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-manage-btn-container {
  margin-bottom: 10px;
  text-align: right;
}

.bottom {
  margin-top: 30px;
}

.comment-container {
  width: calc(8 / 12 * 100%);
}

.comment-input-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

#comment-input {
  width: 100%;
  border-radius: 10px;
  border: #d9d9d9 1px solid;
  padding: 5px 10px;
}

#comment-submit-btn {
  color: white;
  background-color: var(--primary1-color);
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5px;
}

.comment-input-container > img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  aspect-ratio: 1;
}

#edit-btn {
  background-color: var(--primary1-color);
}

#delete-btn {
  background-color: var(--primary2-color);
}

@media screen and (max-width: 768px) {
  .detail-info {
    flex-direction: column;
  }

  .detail-info-left {
    margin-bottom: 20px;
  }

  .comment-container {
    width: 100%;
  }
}