.profile {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 100px 20px;
  box-sizing: border-box;
}

.profile-inner {
  box-sizing: border-box;
}

.profile-header {
  position: relative;
  text-align: center;
}

.profile-image-wrapper {
  max-width: 100%;
  width: 414px;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  background-color: #d9d9d9;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-btn-container {
  display: block;
  text-align: right;
  right: 0;
}

.btn {
  width: 120px;
  height: 43px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

#save-btn,
#modify-btn {
  background-color: var(--primary1-color);
}

#cancle-btn {
  background-color: #d9d9d9;
}

.star-score-section {
  max-width: 630px;
  margin: auto;
}

.profile-name-wrapper,
.star-score-section {
  margin-top: 50px;
  position: relative;
}

.star-score-section {
  margin-bottom: 100px;
}

.my-products-title {
  margin-bottom: 10px;
}

.my-products {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .my-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .my-products {
    grid-template-columns: repeat(1, 1fr);
  }
}