.alarm-item {
  display: flex;
  flex-direction: column;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 5px;
}

.alarm-product {
  display: flex;
}

.alarm-product-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alarm-product-content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.alarm-image {
  background-color: #D9D9D9;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alarm-image > img {
  width: 100%;
  aspect-ratio: 1;
}

.alarm-date {
  font-size: 10px;
}

.alarm-product-date {
  font-size: 10px
}