.comment {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.comment-user-image-wrapper {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.comment-user-image-wrapper > img {
  width: 100%;
}

.comment-header {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
}

.comment-btn {
  background: none;
  color: var(--primary2-color);
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.comment-modify {
  margin-left: auto;
}

.commnet-date {
  color: var(--primary2-color);
  margin-left: 10px;
  font-size: 14px;
}

.comment-user-name {
  font-weight: 700;
}

.comment-user-wrapper {
  width: 100%;
}

.comment-modify-btn-container {
  width: auto;
  display: inline-block;
  margin-left: 5px;
}

#comment-modify-btn {
  color: white;
  background-color: var(--primary1-color);
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  display: block;
}

#comment-cancle-btn {
  color: white;
  background-color: #d9d9d9;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 5px;
  cursor: pointer;
  display: block;
}

#modify-input {
  width: 100%;
  border-radius: 10px;
  border: #d9d9d9 1px solid;
  padding: 5px 10px;
}