nav {
  padding: 12px 0;
  background-color: var(--primary1-color);
}

.nav-wrapper {
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 48px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: white;
  vertical-align: middle;
  text-decoration: none;
}

.right-menus {
  display: flex;
  margin: 0;
  margin-left: auto;
  list-style: none;
  align-items: center;
}

.right-menus > li {
  margin-left: 10px;
  color: white;
  position: relative;
}

#login {
  cursor: pointer;
}

#alarm {
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  border: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.alarm-list {
  margin: 5px 0;
  font-size: 12px;
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #eee; 
  border-radius: 10px;
  position: absolute;
  right: 0;
  width: 200px;
  overflow-y: scroll;
}

.alarm-list::-webkit-scrollbar {
  display: none;
}

.alarm-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alarm-list > ul > hr {
  border: 0;
  height: 1px;
  background-color: #d9d9d9;
}