.product {
  display: inline-block;
}

.product > a {
  text-decoration: none;
  color: black;
}

.product-image-wrapper {
  aspect-ratio: 1;
  border-radius: 10px;
  box-shadow: 0 0 5px #d9d9d9;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary2-color);
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  margin-bottom: 5px;
}

.product-subinfo {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.product-date {
  color: var(--primary2-color);
}